<div class="column is-3">
  <aside class="menu">
    <p class="menu-label">
      Catgegories
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to "All", todos_path %>
      </li>
      <li><a>Shares</a></li>
      <li><a>Household</a></li>
      <li><a>Work</a></li>
      <li><a>Sport</a></li>
      <li><a>Ideas</a></li>
    </ul>
  </aside>
</div>
