<div class="column is-3">
  <aside class="menu">
    <p class="menu-label">
      Catgegories
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to "All", todos_path %>
      </li>
      <% Category.all.each do |c| %>
        <li>
          <%= link_to c.name, category_path(c) %>
        </li>
      <% end %>
    </ul>
  </aside>
</div>
