<nav class="navbar is-white topNav">
  <div class="container">
    <div id="topNav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-small is-info is-outlined">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Logout</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" href="#">Home</a>
        <a class="navbar-item" href="#">Settings</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <input class="input" type="text" placeholder="Search TODO...">
        </div>
      </div>
    </div>
  </div>
</nav>

